/* Section Three */
.body-carrusel {
    position: relative;
    margin: 0;
    padding: 20px;
}

.swiper {
    width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6C7F7D;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 230px;
}

/* Section Six */